<h1>Currency pairs</h1>

Go <a href="/dashboards"> back</a><div class="">.

<ul>
  <%@array_of_symbols.each do |a_symbol|%>
    <li>
      <a href="/forex/<%=a_symbol%>">
        Convert 1 <%=a_symbol%> to...
      </a>
    </li>
  <%end%>
</ul>

<%= @symbols_hash.keys %>